/*文字提示框样式*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #e3e3e3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #e3e3e3;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #e3e3e3;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #e3e3e3;
}
/*文字超出省略*/
.texthidden {
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  word-break: normal !important;
}
